<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.ConferenceDao">

    <select id="selectByDate" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
        WHERE date = #{date} AND visible=1
    </select>

    <select id="selectByTags" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
        WHERE tags LIKE '%${tags}%' AND visible=1
    </select>

    <select id="selectByKeywords" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
        WHERE match(name, organization, introduction) AGAINST (#{keywords}) AND visible=1 LIMIT ${limit} OFFSET ${offset}
    </select>

    <select id="selectTotalNum" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM conference
        WHERE match(name, organization, introduction) AGAINST (#{keywords}) AND visible=1 
    </select>

    <select id="selectById" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
        WHERE conference_id=${conference_id} AND (establisher_id=#{user_id} OR visible=1)
    </select>

    <select id="selectEstablishedConferences" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference WHERE establisher_id=${user_id} OR visible=1
    </select>

    <select id="selectSessionById" resultType="com.mobilecourse.backend.model.Session">
        SELECT * FROM session
        WHERE session_id=${session_id} AND (establisher_id=#{user_id} OR (visible=1 AND conference_visible=1))
    </select>

    <select id="selectPaperById" resultType="com.mobilecourse.backend.model.Paper">
        SELECT * FROM paper
        WHERE paper_id=${paper_id} AND (establisher_id=${user_id} OR (visible=1 AND conference_visible=1 AND session_visible=1))
    </select>

    <select id="selectSessionByConference" resultType="com.mobilecourse.backend.model.Session">
        SELECT * FROM session
        WHERE conference_id=${conference_id}
        AND ((visible=1 AND conference_visible=1) OR establisher_id=${user_id})
    </select>

    <select id="selectPaperBySession" resultType="com.mobilecourse.backend.model.Paper">
        SELECT * FROM paper
        WHERE session_id=${session_id}
        AND ((visible=1 AND conference_visible=1 AND session_visible=1)
            OR establisher_id=${user_id})
    </select>


    <!-- 使用keyProperty和useGeneratedKeys可以直接把id添加到parameterType类中 -->
    <insert id="insertConference" keyProperty="conference_id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Conference">
        INSERT INTO conference
        <trim prefix="(" suffix=")" suffixOverrides="," >
            organization, introduction, date, chairs, place, start_time, end_time, tags, visible
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{organization}, #{introduction}, #{date}, #{chairs}, #{place}, #{start_time}, #{end_time}, #{tags}, ${visible}
        </trim>;
    </insert>

    <insert id="insertUserConference" parameterType="com.mobilecourse.backend.model.UserConference">
        INSERT INTO user_conference (user_id, conference_id, uctype)
        SELECT #{id}, #{conference_id}, #{uctype} FROM dual
        WHERE NOT EXISTS (SELECT * FROM user_conference WHERE
        (user_id, conference_id, uctype) = (#{id}, #{conference_id}, #{uctype}))
    </insert>

    <insert id="insertChatroom" parameterType="com.mobilecourse.backend.model.Chatroom">
        INSERT INTO chatroom VALUES (${chatroom_id}, ${participant_num}, ${record_num})
    </insert>

    <insert id="insertSession" keyProperty="session_id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Session">
        INSERT INTO session (topic, description, start_time, end_time, reporters, rating, conference_id, visible, conference_visible)
        VALUES (#{topic}, #{description}, #{start_time}, #{end_time}, #{reporters}, ${rating}, ${conference_id}, ${visible}, ${conference_visible})
    </insert>

    <insert id="insertPaper" keyProperty="paper_id" useGeneratedKeys="true" parameterType="com.mobilecourse.backend.model.Paper">
        INSERT INTO paper (title, authors, abstr, content, session_id, establisher_id, visible, session_visible, conference_visible)
        VALUES (#{title}, #{authors}, #{abstr}, #{content}, ${session_id}, ${establisher_id}, ${visible}, ${session_visible}, ${conference_visible})
    </insert>


    <delete id="deleteUserConference">
        DELETE FROM user_conference
        WHERE (user_id, conference_id, uctype) = (#{id}, #{conference_id}, #{uctype})
    </delete>

    <delete id="deleteById">
        DELETE FROM conference WHERE conference_id=#{id}
    </delete>

    <delete id="deletePaper">
        DELETE FROM paper WHERE paper_id=${paper_id}
    </delete>

    <delete id="deleteSession">
        DELETE FROM session WHERE session_id=${session_id}
    </delete>
    
</mapper>
