<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定了mapper对应的dao -->
<mapper namespace="com.mobilecourse.backend.dao.ConferenceDao">

    <select id="selectByDate" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
        WHERE date = ${date}
    </select>

    <select id="selectByTags" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
        WHERE tags LIKE ${tags}
    </select>

    <select id="selectByKeywords" resultType="com.mobilecourse.backend.model.Conference">
        SELECT * FROM conference
    </select>
    
</mapper>